/*--- incoming calling wraper popup ---*/
.m-live-calling {
    background: #fff none repeat scroll 0 0;
    display: block;
    left: 50%;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
/*--- incoming call wraper popup ---*/
.call-wraper {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 55;
	opacity: 0;
  	visibility: hidden;
	transition: all 0.25s linear 0s;
}
.call-wraper.active {
	opacity: 1;
  	visibility: visible;
}
.call-box > h6 {
    color: #535165;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 6px;
    width: 100%;
}
.call-box > span {
    color: #23d2e2;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    text-transform: capitalize;
    width: 100%;
}
.call-box > i {
    color: #a9a9a9;
    font-size: 40px;
}

.wave .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-right: 1px;
  background: #fff;
  -webkit-animation: wave 1.3s linear infinite;
  -moz-animation: wave 1.3s linear infinite;
  -ms-animation: wave 1.3s linear infinite;
  -o-animation: wave 1.3s linear infinite;
  animation: wave 1.3s linear infinite;
}
/*--- wave dots for load more ---*/
.wave .dot:last-of-type {
  margin-right: 0;
}

.wave .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  -ms-animation-delay: -1.1s;
  -o-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.wave .dot:nth-child(3) {
  -webkit-animation-delay: -.9s;
  -moz-animation-delay: -.9s;
  -ms-animation-delay: -.9s;
  -o-animation-delay: -.9s;
  animation-delay: -.9s;
}

.yesorno {
    display: inline-block;
    width: 100%;
}
.yesorno > a {
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 20px;
    width: 50px;
}
.bg-red{
	background: #e44a3c;
}

@keyframes wave {
  0%,
  100%,
  60% {
      transform: initial
  }
  30% {
      transform: translateY(-5px)
  }
}

/*--- wave load more ---*/
.wave {
  text-align: center;
}
.wave .dot {
display: inline-block;
background: #fa6342;
width: 9px;
height: 9px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;
margin-right: 1px;
-webkit-animation: wave 1.3s linear infinite;
-moz-animation: wave 1.3s linear infinite;
-ms-animation: wave 1.3s linear infinite;
-o-animation: wave 1.3s linear infinite;
animation: wave 1.3s linear infinite;
}

.wave .dot:last-of-type {
margin-right: 0;
}

.wave .dot:nth-child(2) {
-webkit-animation-delay: -1.1s;
-moz-animation-delay: -1.1s;
-ms-animation-delay: -1.1s;
-o-animation-delay: -1.1s;
animation-delay: -1.1s;
}

.wave .dot:nth-child(3) {
-webkit-animation-delay: -.9s;
-moz-animation-delay: -.9s;
-ms-animation-delay: -.9s;
-o-animation-delay: -.9s;
animation-delay: -.9s;
}

@keyframes wave {
  0%,
  100%,
  60% {
      transform: initial
  }
  30% {
      transform: translateY(-5px)
  }
}